body{
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}
#loadprg {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    opacity: 50%;
    border: none;
    height : 5%;
    vertical-align: middle;
}

#showUI{
    position:absolute;
    right:1%;
    top:1%;
    visibility: hidden;
    font-family: Helvetica, Arial, sans-serif;
    font-size:small;
    color:#ffffff;
    /* transition:0.2s; */
}

#showUI.shown{
    visibility: visible;
}

#cl_container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin:auto; */
    width:20%;
    /* height:30%; */
    right:1%;
    top:1%;
    background-color:#0000009c;
    /* transition:0.2s; */
}

#cl_container.hidden{
    height:0%;
    visibility: hidden;
}

.colorpicker{
    /* position:absolute; */
    margin:auto;
    width:100%;
    /* height:15%; */
    /* top:0; */
    /* bottom: 0; */
    /* left:0; */
    /* right: 0; */
    padding: 0px 0px;
    border-width: 0px;
}

.cl_label{
    font-family: Helvetica, Arial, sans-serif;
    color:white;
}

.rnd{
    /* position:absolute; */
    margin:5%;
    height:30%;
    width:90%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: medium;
    padding:0.7em;
    background: rgb(197, 197, 197);
    /* transition:0.2s; */
    border:none;
}

.rnd:hover{
    background: rgb(247, 189, 0);
}


.tgl{
    /* position:absolute; */
    margin:auto;
    height:70%;
    /* width:100%; */
    font-family: Helvetica, Arial, sans-serif;
    font-size: medium;
    background:linear-gradient(90deg,rgb(197,197,197),rgb(197, 197, 197));
    border:none;
    /* transition: 0.2s; */
}

.tgl:hover{
    background:linear-gradient(90deg,rgb(97, 169, 236),rgb(30, 83, 184));
}

#grad_cnt{
    display:flex;
    width:100%;
}

#container{
    cursor:crosshair;
}

.UIin-out{
    font-family: Helvetica, Arial, sans-serif;
    font-size:small;
    color:#ffffff;

}