body{
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
progress#loadprg {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    opacity: 50%;
    border: none;
    height : 5%;
    vertical-align: middle;
}

#cl_container{
    position: absolute;
    /* display: block; */
    margin:auto;
    width:15%;
    height:10%;
    right:5%;
    top:5%;
    background-color:#0000009c;
}

.colorpicker{
    position:absolute;
    margin:auto;
    width:90%;
    height:40%;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
}