body{
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    overflow: hidden;
}
#loadprg {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    opacity: 50%;
    border: none;
    height : 5%;
    vertical-align: middle;
}

#showUI{
    position:absolute;
    right:1%;
    top:1%;
    visibility: hidden;
    font-family: Helvetica, Arial, sans-serif;
    font-size:small;
    color:#ffffff;
    /* transition:0.2s; */
}

#showUI.shown{
    visibility: visible;
    background-color: black;
}

#hideUI{
    font-family: Helvetica, Arial, sans-serif;
    font-size:small;
    color:#ffffff;
    margin:3%;
    background-color: black;
}

#cl_container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin:auto; */
    width:20%;
    /* height:30%; */
    right:1%;
    top:1%;
    background-color:#0000009c;
    /* transition:0.2s; */
}

#cl_container.hidden{
    height:0%;
    visibility: hidden;
}

.colorpicker{
    /* position:absolute; */
    margin:auto;
    width:100%;
    /* height:15%; */
    /* top:0; */
    /* bottom: 0; */
    /* left:0; */
    /* right: 0; */
    padding: 0px 0px;
    border-width: 0px;
    border-radius: 5px;
}

.cl_label{
    font-family: Helvetica, Arial, sans-serif;
    color:white;
}

.rnd{
    /* position:absolute; */
    margin:5%;
    height:25%;
    width:90%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: medium;
    padding:0.7em;
    background: rgb(197, 197, 197);
    transition:0.15s;
    transition-property: transform,box-shadow;
    border:none;
    border-radius: 5px;
}

.rnd:hover{
    /* background: rgb(247, 189, 0); */
    transition: 0.15s;
    transform:translate(-5px,-5px);
    box-shadow: 5px 5px #333;
}


.tgl{
    /* position:absolute; */
    margin:auto;
    height:70%;
    /* width:100%; */
    padding: 0.5em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: medium;
    background:linear-gradient(90deg,rgb(197,197,197),rgb(197, 197, 197));
    border:none;
    transition: 0.15s;
    transition-property: transform,box-shadow;
}

.tgl:hover{
    /* background:linear-gradient(90deg,rgb(97, 169, 236),rgb(30, 83, 184)); */
    transition: 0.15s;
    transform:translate(-5px,-5px);
    box-shadow: 5px 5px #333;
}

#grad_cnt{
    display:flex;
    width:100%;
}

#container{
    cursor:crosshair;
}

#preset_select{
    position:fixed;
    display:flex;
    flex-direction:column;
    height:25vh;
    top:95vh;
    width:100vw;
    background-color:rgba(0,0,0,0.8);
    transition: 0.15s;
    /* justify-content: center; */
    align-items: center;
    overflow-y: scroll;
}

#preset_select:hover{
    transition: 0.15s;
    top:75vh;
}

#preset_select_title{
    font-family: Helvetica, Arial, sans-serif;
    color:white;
}

#preset_item_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}

.preset_item{
    /* position:absolute; */
    margin:2%;
    padding:2%;
    transition: 0.15s;
    border-radius:10px;
    flex-basis: 200px;
    flex-shrink: 0;
}

.preset_item:hover{
    transition: 0.15s;
    transform:translate(-5px,-5px);
    /* border-bottom: 2px solid #666; */
    /* border-right: 2px solid #666; */
    box-shadow: 5px 5px #333;
}

/* #toggle_vh_container{ */
.slide_container{
    width : 80%;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #toggle_vh{ */
.hidden_check{
    display:none;
}

/* #toggle_vh_label{ */
.toggle_slider{
    font-size: small;
    display:block;
    width:80px;
    flex-basis:80px;
    flex-shrink: 0;
    height: 30px;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
    background: linear-gradient(#121823, #161d2b);
    box-shadow:
        inset 0 3px 8px 1px rgba(0, 0, 0, 0.5),
        inset 0 1px 0 rgba(0, 0, 0, 0.5),
        0 1px 0 rgba(255, 255, 255, 0.2);
}

/* #toggle_vh:checked ~ #toggle_vh_label{ */
.hidden_check:checked ~ .toggle_slider{
    background: linear-gradient(#76c4f1,#4198ca)
}

/* #toggle_vh_label::after { */
.toggle_slider::after{
    content: "";
    height: 29px;
    width: 29px;
    position: absolute;
    left: 1px;
    top: 1px;
    border-radius: inherit;
    background: linear-gradient(#36455b, #283446);
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.2),
        0 0 8px rgba(0, 0, 0, 0.3),
        0 12px 12px rgba(0, 0, 0, 0.4);
    transition:0.15s;
    transition-property: left, background-color;
}

/* #toggle_vh:checked ~ #toggle_vh_label::after { */
.hidden_check:checked ~ .toggle_slider::after{
    left:63%;
}